@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body, ul, li, p {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/water.jpg);
    background-size: cover;
    background-attachment: fixed; 
    
}

.container{
    
    width:100%;
    max-width: 940px;
    padding: 0 25px;  
    margin: 0 auto; 
    background-color: rgba(145, 167, 177, 0.596);    
}

.container-flex{
    display: flex;
    justify-content: flex-start;
}
header{
    height: 92px;
}
.img-logo{
    width: 100px;
    height: 100px;
}
.imglist{
    width: 100px;
    height: 100px;
    
}
.img-logo:hover{
    transform: scale(1.1);
}
.box1{
    flex-grow: 7;
}

.box2{
    flex-grow: 0.5;
    
}
.nav li{
    display: inline-block;
    margin-right: 15px;
    
}

.nav a{
    text-decoration: none;
    line-height: 100px;
} 

a:hover{
    color: #EEBACF;
}
a{
    color: #790E62;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
}

h1{
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    color: black;
    text-align: center;
    font-weight: 400;
}
p{
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    color: black;
    text-align: center;
    font-weight: 400; 
}
.container-flex2{
    display: flex;
}